footer {
  background-color: #303030;
  color: white;
}

footer > .top > .left > .logo-jedi {
  position: relative;
  width: 267px;
  display: inline-block;
  margin-bottom: 4px;
}

/* footer .logo-jedi {
  width: 100%;
  text-align: center;
  padding-top: 20px;
} */

footer > .top > .left > .logo-jedi > div.sign {
  background-image: url('../assets/logo-sign-grey.png');
  width: 78px;
  height: 72px;
  position: relative;
  left: -3px;
  top: 0px;
}

footer > .top > .left > .logo-jedi > div.jedi {
  background-image: url('../assets/logo-jedi-grey.png');
  width: 75px;
  height: 39px;
  position: absolute;
  left: 83px;
  top: 7px;
}

footer > .top > .left > .logo-jedi > span.text {
  font-size: 14px;
  position: absolute;
  letter-spacing: 0.15px;
  left: 86px;
  top: 41px;
}

footer .text-grey {
  color: #8c8c8c;
}

footer > .top {
  padding: 26px 84px 30px;
}

footer > .top > .left {
  width: 335px;
}

footer > .top > .left > .social {
  margin-top: 25px;
}

footer > .top > .left > .social > .icon {
  margin: 0px 5px 0;
}

footer > .top > .left > .address {
  padding-right: 40px;
  display: inline-block;
}

footer > .top > .left > .phone-email {
  display: inline-block;
}

footer .bottom {
  text-align: center;
  padding: 22px 0;
  font-size: 14px;
}

footer .bottom a {
  text-decoration: underline;
}
footer > .top > .middle {
  width: 320px;
}

footer > .top > .right {
  width: 360px;
}

footer > .top > .middle,
footer > .top > .right {
  padding-top: 15px;
}

footer > .top > .middle > .title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

footer > .top > .middle > .blog-description {
  margin-top: 20px;
}

footer > .top > .middle > .blog-description > .image {
  padding-right: 20px;
}

footer > .top > .middle > .blog-description > .date-title > .date {
  color: grey;
  font-size: 12px;
  letter-spacing: 0.3px;
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
  position: relative;
  left: 17px;
}

footer > .top > .middle > .blog-description > .date-title > .title > a {
  color: white;
}

footer > .top > .middle > .blog-description > .date-title > .date::before {
  content: '';
  position: absolute;
  left: -17px;
  top: 1px;
  width: 13px;
  height: 13px;
  background-image: url('/assets/blog/arrow.png');
}

footer > .top > .middle > .blog-description > .date-title > .title {
  letter-spacing: 0.3px;
  font-size: 17px;
}

footer > .top > .right > .title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

footer > .top > .right > form {
  margin-top: 15px;
  font-size: 13px;
}

footer > .top > .right > form input,
footer > .top > .right > form textarea {
  color: white;
  background: transparent;
  border-radius: 4px;
  padding: 8px 18px;
  outline: 0;
  border-style: solid;
  border: 2px solid #5a5a5a;
  margin-top: 10px;
  width: 100%;
}

footer > .top > .right > form textarea {
  resize: none;
  height: 80px;
}

footer > .top > .right > form input::placeholder,
footer > .top > .right > form textarea::placeholder {
  color: white;
}

footer > .top > .right > form button {
  margin-top: 16px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.8px;
  padding: 10px 30px;
  background-color: #43cbcb;
}

/*disable bootstrap shadow for the button*/
footer > .top > .right > form .btn-info:hover,
footer > .top > .right > form .btn-info:active,
footer > .top > .right > form .btn-info:focus {
  box-shadow: none !important;
}

/* footer .logo-jedi > div.jedi {
  position: initial;
  margin-left: auto;
  margin-right: auto;
} */

/* footer .logo-jedi > div.jedi {
  margin-top: 6px;
}

footer .logo-jedi > span.text {
  position: initial;
  margin-top: 19px;
  margin-bottom: 34px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -0.5px;
} */
