.nav {
  display: flex;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  z-index: 10;
  background: white;
}

.nav > .nav-selected-text {
  display: none;
}

.nav > .nav-logo {
  width: 267px;
  position: relative;
  cursor: pointer;
}

.nav > .nav-logo > div.sign,
main .logo-jedi > div.sign {
  background-image: url('../assets/logo-sign.png');
  width: 78px;
  height: 72px;
  position: relative;
  left: -3px;
  top: 0px;
}

.nav > .nav-logo > div.jedi,
main .logo-jedi > div.jedi {
  background-image: url('../assets/logo-jedi.png');
  width: 72px;
  height: 38px;
  position: absolute;
  left: 83px;
  top: 7px;
}

.nav > .nav-logo > span.text,
main .logo-jedi > span.text {
  font-size: 14px;
  position: absolute;
  right: 2px;
  bottom: 10px;
  letter-spacing: 0.15px;
}

main .logo-jedi {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

main .logo-jedi > div.sign,
main .logo-jedi > div.jedi {
  position: initial;
  margin-left: auto;
  margin-right: auto;
}

main .logo-jedi > div.jedi {
  margin-top: 6px;
}

main .logo-jedi > span.text {
  position: initial;
  margin-top: 19px;
  margin-bottom: 34px;
  display: inline-block;
  font-size: 12px;
  letter-spacing: -0.5px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav > .nav-links {
  margin-left: auto;
}

.nav > .nav-links > ul > li {
  display: inline-block;
  margin: 0 15px;
}

.nav > .nav-links > ul > li > a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 0;
  letter-spacing: 0.7px;
}

.nav > .nav-links > ul > li:last-child > a {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.nav > .nav-links > ul > li > a.selected {
  border-bottom: 2px solid #17bfbf;
}

.nav > .nav-links > ul > li > a:not(.selected):hover {
  border-bottom: 2px solid grey;
}

.nav > #chk-nav {
  display: none;
}

body {
  padding-top: 112px;
}
