@media (max-width: 900px) {
  .nav {
    padding: initial;
    box-shadow: 0px 2px 3px 0px rgba(160, 160, 160, 0.36);
  }

  .nav > .nav-btn {
    display: block;
  }

  .nav > .nav-btn > label {
    margin-bottom: 0;
    display: block;
    padding: 16px 12px 16px 16px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    height: 8px;
    width: 24px;
    position: relative;
  }

  .nav > .nav-btn > label > span::before {
    width: 24px;
    height: 6px;
    border-top: 2px solid #000;
    border-radius: 3px;
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
  }

  .nav > .nav-btn > label > span::after {
    width: 24px;
    height: 7px;
    border-bottom: 2px solid #000;
    border-radius: 3px;
    content: '';
    position: absolute;
    left: 0px;
    top: -1px;
  }

  .nav > .nav-selected-text {
    font-size: 25px;
    display: block;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: whitesmoke;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 56px;
    left: 0px;
    z-index: 5;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > .nav-links > ul > li {
    display: block;
    padding: 10px 0;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 56px);
    overflow-y: auto;
  }

  .logo-jedi {
    display: block;
  }

  .nav > .nav-logo {
    display: none;
  }

  body {
    padding-top: 56px;
  }
}
