@import url('./header.nav.css');
@import url('./header.nav.responsive.css');
@import url('./main.carousel.css');
@import url('./main.carousel.responsive.css');
@import url('./main.projects.css');
@import url('./main.projects.responsive.css');

:root {
  --max-width: 1300px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'helvetica';
  max-width: var(--max-width);
  margin: auto;
}
